@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Open-sans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open-sans;
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Open-sans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts.list, .nav-list .item, .nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.section {
  padding-bottom: 84px;
  padding-top: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 130px;
    padding-top: 130px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #555555;
  font-family: Open-sans, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  margin-top: 0px;
  color: #303030;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.section-title {
  text-align: start;
  color: #303030;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.17;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link:hover {
  color: #ff6c00;
}

.button {
  display: inline-block;
  height: 40px;
  width: 160px;
  padding: 12px 20px;
  text-align: center;
  font-family: "Open-sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #303030;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

#upbutton {
  height: 40px;
  bottom: 20px;
  right: 10px;
  padding: 12px 20px;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
  text-align: center;
  font-family: "Open-sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9da4bd;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
}
#upbutton:hover, #upbutton:focus {
  background-color: #ff6c00;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  #upbutton {
    display: none;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 39px;
  margin-top: 118px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
    align-items: center;
  }
}

.site-nav-tablet {
  display: flex;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .site-nav-tablet {
    display: none;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list .item {
    margin-bottom: 0px;
  }
}
.nav-list a {
  color: #303030;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  font-family: Open-sans;
}
@media screen and (min-width: 768px) {
  .nav-list a {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    font-family: Open-sans;
    margin-left: 24px;
    margin-top: 12px;
    height: 24px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list a {
    margin-left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .nav-list .item:not(:last-child) {
    margin-bottom: 24px;
    margin-right: 24px;
  }
}

.contacts-list {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 322px;
  }
}
@media screen and (max-width: 480px) {
  .contacts-list .item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list .item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts-list .item:not(:last-child) {
    margin-top: 20px;
  }
}

.contacts.list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .contacts.list {
    flex-direction: row;
  }
}

.contacts-top {
  margin-bottom: 24px;
  color: #303030;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  font-family: Open-sans;
  color: #303030;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  font-family: Open-sans;
}
@media screen and (min-width: 768px) {
  .contacts-top {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    font-family: Open-sans;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-top {
    margin-bottom: 0px;
  }
}

.page-header {
  position: absolute;
  width: 100%;
  height: 118px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 114px;
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .header-container {
    width: 679px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    width: 1170px;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: #ff6c00;
  fill: #ffffff;
}
@media screen and (max-width: 480px) {
  .logo {
    margin-left: 31px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    fill: #303030;
    margin-top: -8px;
  }
}

.logo-icon {
  margin-right: 20px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 1;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .menu {
  transform: translateX(100%);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 337px;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu {
    width: 254px;
  }
}

.menu-button {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: transparent;
  fill: white;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  top: 48px;
  right: 31px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: transparent;
}

.nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: #ff6c00;
}

.nav-link-desktop {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-desktop:hover, .nav-link-desktop:focus {
  color: #ff6c00;
}

.nav-list-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
@media screen and (max-width: 767px) {
  .nav-list-desktop {
    display: none;
  }
}

.nav-item-desktop:not(:last-child) {
  margin-right: 35px;
}

.sidebar-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .sidebar-item {
    margin-bottom: 0;
    font-size: 11px;
    letter-spacing: 0.2em;
  }
  .sidebar-item:not(:last-child) {
    margin-right: 40px;
  }
}

.sidebar-socials {
  margin-left: 40px;
  display: flex;
}

.hero-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1280px;
  }
}

.hero-left {
  width: 159px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero-left {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero-left {
    width: 155px;
  }
}

.hero-right {
  height: 580px;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .hero-right {
    height: 680px;
    width: 609px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-right {
    height: 680px;
    width: 1125px;
  }
}

.hero-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-info {
  position: absolute;
  width: 306px;
  top: 208px;
  left: 31px;
}
@media screen and (min-width: 768px) {
  .hero-info {
    width: 355px;
    top: 272px;
    left: 279px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-info {
    width: 500px;
    left: 255px;
  }
}

.hero-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.section-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.section-subtitle::before {
  content: "";
  margin-right: 20px;
  width: 63px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.section-subtitle.dark {
  color: #303030;
}
.section-subtitle.dark::before {
  background-color: #303030;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-socials {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-socials {
    display: block;
  }
}

.sidebar-item:first-child::before {
  content: "";
  display: block;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.sidebar-item:first-child {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .sidebar-item:not(:first-child) {
    margin-left: 100px;
  }
}

.sidebar-hero-list {
  display: flex;
  transform: rotateZ(-90deg);
  margin-bottom: 180px;
  align-items: center;
}
.slick-dots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 31px;
  top: 250px;
}
@media screen and (min-width: 768px) {
  .slick-dots {
    right: 39px;
    top: 311px;
  }
}
@media screen and (min-width: 1280px) {
  .slick-dots {
    right: 55px;
  }
}

.hero-slider .slick-dots button {
  font-size: 0px;
  padding: 0px;
  border: 0px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.hero-slider .slick-dots li.slick-active button {
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}

.hero-slider .slick-dots li {
  height: 14px;
}

.slick-next {
  position: absolute;
  bottom: 40px;
  right: 39px;
  text-align: right;
}
@media screen and (min-width: 1280px) {
  .slick-next {
    right: 55px;
  }
}

.slick-prev {
  position: absolute;
  bottom: 40px;
  right: 125px;
  z-index: 10;
  text-align: left;
}
@media screen and (min-width: 1280px) {
  .slick-prev {
    right: 141px;
  }
}

.slick-arrow {
  width: 60px;
  height: 24px;
  padding: 0;
  padding-bottom: 8px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  cursor: pointer;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}
@media screen and (max-width: 480px) {
  .slick-arrow {
    display: none;
  }
}
.slick-arrow:hover, .slick-arrow:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 767px) {
  .list-about {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .list-about {
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .container-about {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .about-item {
    margin: 15px;
  }
}

.about-title {
  margin-bottom: 20px;
  width: 330px;
  text-align: start;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #303030;
}

.about-text {
  margin-bottom: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1280px) {
  .about-text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-team {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.about-gallery {
  margin-right: 30px;
}
@media screen and (min-width: 1280px) {
  .about-gallery {
    margin-right: 64px;
  }
}

.about-picture {
  max-width: unset;
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .about-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.services {
  background-image: url(../images/servisesMobileBgImg.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .services {
    background-image: url(../images/servicesTabletBgImg.png);
  }
}
@media screen and (min-width: 1280px) {
  .services {
    background-image: url(../images/servicesDesctopBgImg.png);
  }
}

.ondark {
  color: #ffffff;
}

.button-ondark {
  display: block;
  margin: 0 auto;
  color: #ffffff;
}

.all-prices {
  padding: 30px;
  margin-bottom: 50px;
  background: linear-gradient(rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
}
@media screen and (min-width: 768px) {
  .all-prices {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .all-prices {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

.services-list {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .services-list {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 768px) {
  .services-list-light {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .services-list-light {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 1280px) {
  .services-list-light {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .services-item {
    font-size: 18px;
    line-height: 1.67;
  }
}
.services-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-item::before {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.services-item-text {
  flex-shrink: 0;
}

.prices-item-description {
  order: -1;
}

.benefits-container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1280px) {
  .benefits-container {
    flex-direction: row;
  }
}

.benefits-info {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .benefits-info {
    width: 500px;
  }
}

.benefits-title {
  margin-bottom: 20px;
}

.benefits-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    margin-left: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits-list {
    margin-left: auto;
    margin-right: 130px;
    width: 370px;
  }
}

.benefits-item {
  display: block;
  height: 133px;
  width: calc((100% - 30px) / 2);
  padding: 20px;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-quantity {
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-quantity::after {
  display: inline;
  margin-top: 7px;
  content: "+";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #ff6c00;
}

.benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #303030;
}

.masters {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .masters-container {
    width: 528px;
  }
}

@media screen and (min-width: 1280px) {
  .masters-item {
    margin: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .masters-item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.team-picture {
  margin-bottom: 30px;
}

.master-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
}

@media screen and (min-width: 1280px) {
  .masters-list {
    display: flex;
    align-items: center;
    margin: -15px;
  }
}

.job-title {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.social-list {
  display: flex;
  justify-content: center;
}

.socials:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #303030;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  fill: #ff6c00;
}

.gallery-list {
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-item {
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .gallery-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.gallery-picture {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery-picture {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-picture {
    width: 270px;
  }
}

.section-subtitle.dark.gallery {
  margin-bottom: 44px;
}

@media screen and (min-width: 1280px) {
  .section-wrapper {
    width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.entry {
  background-color: #191c26;
}
@media screen and (min-width: 1280px) {
  .entry {
    flex-basis: calc(50% + 30px);
  }
}

@media screen and (min-width: 1280px) {
  .section-contacts {
    flex-basis: 50%;
  }
}

.footer-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-submit {
    align-items: flex-start;
  }
  .footer-submit .button-ondark {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .submit-field {
    display: flex;
  }
}

.form-field {
  margin-bottom: 44px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form-field:not(:last-child) {
    margin-right: 30px;
  }
}

.entry-subscribe {
  width: 100%;
}

.footer-input {
  height: 24px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.footer-input:hover, .footer-input:focus {
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 76px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
textarea:hover, textarea:focus {
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

textarea {
  resize: none;
}

.section-contacts {
  background-image: url(../images/ContactsBgImg.png);
  background-color: #191c26;
}
@media screen and (min-width: 768px) {
  .section-contacts {
    background-image: url(../images/contactsTabletBgImg.png);
  }
}
@media screen and (min-width: 1280px) {
  .section-contacts {
    background-image: url(../images/contactsDesktopBgImg.png);
  }
}

.section-wrapper-bg {
  background-color: #191c26;
}

@media screen and (min-width: 1280px) {
  .contacts-container {
    padding-left: 100px;
    width: auto;
  }
}

.address {
  fill: #9da4bd;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .botom-contacts {
    display: flex;
  }
}

.botom-address {
  margin: 0;
}

.footer-list {
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
  color: #9da4bd;
  fill: #9da4bd;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer-list {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-list {
    margin-bottom: 70px;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}
.address-item svg {
  margin-right: 16px;
}

.contacts-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-subtitle::before {
  content: "";
  margin-right: 20px;
  width: 63px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.contacts-title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .working-hours {
    margin-left: 30px;
  }
}

.working-hours-text {
  font-size: 18px;
  line-height: 1.66;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  padding: 44px 0;
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding: 56px 0;
  }
}

.copyright {
  margin-top: 35px;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}

.footer-socials-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-socials-list::before {
  content: "";
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.footer-socials-link:not(:last-child) {
  margin-right: 40px;
}/*# sourceMappingURL=main.css.map */