.gallery-list {
  margin: -15px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-item {
  margin: 15px;

  &:not(:last-child) {
    @media screen and (max-width: calc($tablet - 1px)) {
      margin-bottom: 30px;
    }
  }
}

.gallery-picture {
  margin: 0;

  @media screen and (min-width: $tablet) {
    width: 330px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.section-subtitle.dark.gallery {
  margin-bottom: 44px;
}
